.Local {
  .Text {
    font-size: 120%;
    margin: 1rem 0.75rem;
  }
  h5 {
    margin: 0.5rem 0.25rem;
  }
  .OrganizationList {
    margin: 0 -1.25rem 1rem;

    li {
      margin: 0 0.25rem;
    }
  }
}
