.Location {
  .Logo {
    padding: 0.75rem 0 1.5rem;

    .Light {
      [data-bs-theme='dark'] & {
        display: none;
      }
    }
    .Dark {
      filter: brightness(85%);
      [data-bs-theme='light'] & {
        display: none;
      }
    }
  }
  .Content {
    text-align: center;
  }
  .Map {
    [data-bs-theme='dark'] & {
      filter: brightness(80%);
    }

    margin-bottom: 2rem;
  }
}
