.Area {
  .LogoImage {
    margin: 1rem 0;

    [data-bs-theme='dark'] & {
      filter: brightness(80%);
    }
  }

  .JumboImage {
    position: relative;
    margin-bottom: 0.25rem;

    height: 25vh;
    min-height: 150px;
    max-height: 409px;
    @media (min-width: 768px) {
      height: 40vh;
      min-height: 400px;
    }
    @media (min-width: 991px) {
      height: 40vh;
      min-height: 600px;
    }
    @media (min-width: 1200px) {
      height: 350vh;
      min-height: 700px;
    }

    .DowntownDaytimeColor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: transparent;

      //[data-bs-theme='dark'] & {
      //  opacity: 0.1;
      //  background-color: black;
      //}
    }

    .DowntownDaytimeImage {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -2 ;
      background-repeat: no-repeat;
      background-position: 0 25%;
      background-size: cover;

      background-image: url('../../images/dfw/downtown-fireworks-750w.jpg');
      @media (min-width: 768px) {
        background-image: url('../../images/dfw/downtown-fireworks.jpg');
      }
    }
  }
  .Credit {
    text-align: center;
    font-size: 80%;
    opacity: 80%;
  }

  .Thing {
    margin-bottom: 1rem;
    .Image {
      overflow: hidden;
      max-height: 10rem;

      .Img {
        width: 100%;
        height: auto;
      }
    }
    // an image in a card that will flip from vertical to horizontal at the
    // small breakpoint (576px wide)
    .FlippyImage {
      overflow: hidden;
      max-height: 10rem;

      @media (min-width: 576px) {
        max-height: none;
      }
      @media (min-width: 768px) {
        max-height: 10rem;
      }

      .Img {
        width: 100%;
        height: auto;

        @media (min-width: 576px) {
          height: 100%;
          object-position: 20% center;
          object-fit: cover;
        }
      }
    }

    .CardBody {
      padding-top: 0.5rem;
      margin-bottom: 0;

      p, ul {
        margin-bottom: 0;
      }
    }
    .ExternalLink {

    }
    .HighTemp {
      color: var(--shiftid-red);
    }
    .LowTemp {
      color: var(--shiftid-blue);
    }
  }

  .MoreLink {
    text-align: right;
    margin-right: 0.5rem;
  }
}
