.ColorModeToggler {
  button {
    [data-bs-theme='light'] & {
      color: var(--shiftid-gray-200);
    }
    [data-bs-theme='dark'] & {
      color: var(--shiftid-body-color);
    }
  }
  .ThemeItem {
    min-width: 0;
  }
}
