$prefix: shiftid-;

$muted-blue: #0081a7;
$teal: #00afb9;
$cream: #fdfcdc;
$creamsicle: #fed9b7;
$muted-red: #f07167;

$creamsicle-rgb: to-rgb($creamsicle);

// Overriding BS variables
//
// I'd rather do this in CSS vsrs, but Bootstrap is not yet to the point where
// everything can be overridden via CSS vars
$primary: $muted-blue;

$font-family-sans-serif:
  "Open Sans",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";

// Miscellaneous overrides
$font-size-root: 18px; // Make text a bit bigger than default

$navbar-brand-padding-y: 0;

$icon-link-icon-size: 0.75em;
